{{#each this}}
 
<a class="film-link" id=" {{ id }} ">    
    <li class="film-card">
        <img class="film-img" src="http://image.tmdb.org/t/p/w500/{{poster_path}}" alt=" "  title="{{ original_title }}" loading="lazy" height="250" />
    
        <div class="film-description">
            <p class="film-name"> {{ title }}  </p>
            <span class="film-genre"> {{ genre_ids }} </span>
            <span class="film-year_of_issue"> {{ release_date }}  </span>
        </div>
    </li> 
</a>

{{/each}}
