{{#each this}}
 
 
    <li class="film-card" id="{{ id }}">
        <img class="film-img" src="http://image.tmdb.org/t/p/w500/{{poster_path}}" alt=" "  title="{{ original_title }}" loading="lazy"  />
    
        <div class="film-description">
            <p class="film-name"> {{ title }}  </p>
            {{#if genre_ids}}
            <span class="film-genre"> {{ genre_ids }} </span>
            {{/if}}
            {{#if release_date}}
            <span class="film-year_of_issue"> {{ release_date }}  </span>
            {{/if}}
            <span class="film-vote_average"> {{ reiting }}  </span>
        </div>
    </li> 


{{/each}}